@import "tailwindcss";

@theme {
  --color-bright-snow: #f8f9faff;
  --color-graphite: #333333ff;
  --color-brilliant-rose: #ff3aaeff;
  --color-saffron: #e8b923ff;
}

@layer base {
  body {
    @apply bg-bright-snow text-graphite font-sans antialiased overflow-hidden;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-brilliant-rose/40 rounded-full;
}

.boutique-shadow {
  box-shadow: 0 10px 30px -10px rgba(51, 51, 51, 0.1);
}